<h1>수정해</h1>
<form action="/posts/<%=@post.id%>/update" method="post">
  <input type="text" name="title" value="<%=@post.title%>"/> <br />
  <textarea name="content"><%=@post.content%></textarea> <br />
  <input type="hidden" name="_method" value="put" />
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
  <input type="submit" />
</form>
