<a href="/posts/new">글 쓰러가기</a>

<% @posts.each do |post| %>
  <p><%= post.id %></p>
  <p><%= post.title %></p>
  <p><%= post.content %></p>
  <a href="/posts/<%=post.id%>">글 보러가기</a>
  <hr />
<% end %>
