<h1>Posts#show</h1>

<div class="container">
  <div class="row justify-content-md-center">
<p><%=@post.username%>님의 글</p>
</div>
<div class="row justify-content-md-center">
title: <p><%=@post.title%></p>
</div>
<div class="row justify-content-md-center">
contnent: <p><%=@post.content%></p>
</div>
<div class="row justify-content-md-center">
<a href="/">뒤로가기</a>
</div>
</div>
